<div class="card">
    <p-table [value]="values" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10]">
        @for (value of values; track $index) {}
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let label of labels">{{ label.header }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-value>
            <tr>
                <td *ngFor="let label of labels">
                    <ng-container *ngIf="label.field === 'country'; else actionCol">
                        <span>{{ getFlagEmoji(value[label.field]) }}</span>
                    </ng-container>
                    <ng-template #actionCol>
                        <ng-container *ngIf="label.field === 'actions'; else level">
                            <p-button label="Detail" (onClick)="actionHandler(value)"></p-button>
                        </ng-container>
                    </ng-template>
                    <ng-template #level>
                        <ng-container *ngIf="label.field === 'levelPlayer'; else default">
                            <span class="pi pi-trophy" [style.color]="getTrophyColor(value[label.field])" style="font-size: 24px;"></span>
                        </ng-container>
                    </ng-template>
                    <ng-template #default>
                        {{value[label.field]}}
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>